<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Sample Plist Project</string>
	<key>ListOfStates</key>
	<array>
		<string>Selangor</string>
		<string>Terengganu</string>
		<string>Johor</string>
		<string>Melaka</string>
	</array>
</dict>
</plist>
